// *** Overrides ***

// * Fonts *

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

h1,
h2,
h3 {
	font-family: "Anton", sans-serif;
	letter-spacing: 0.07rem;
	text-transform: uppercase;
}

// * Colors *

$primary: #209696;
$secondary: #517076;
$success: #3a926b;
$danger: #d32d34;
$warning: #cc9d42;
$light: #fefdf7;
$dark: #1d1d1d;

// * Animations *
// stagger delay para las cards en search page
.search__results {
	@for $x from 1 through 6 {
		&:nth-child(#{$x}) {
			animation-delay: 400ms * ($x - 1);
		}
	}
}

// * Bootstrap *
@import "~bootstrap/scss/bootstrap.scss";
